<footer>
  Made with &nbsp;
  <i class="ion-heart"></i>
  &nbsp; &amp; &nbsp;
  <i class="ion-social-sass"></i>
  &nbsp; &amp; &nbsp;
  <i class="ion-social-html5-outline"></i>
  &nbsp; &amp; &nbsp;
  <i class="ion-social-css3-outline"></i>
  &nbsp; &amp; &nbsp;
  <i class="ion-beer"></i>
  &nbsp; &amp; &nbsp;
  <i class="ion-pizza"></i>
  &nbsp; on an &nbsp;
  <i class="ion-social-apple"></i>
  &nbsp; while browsing &nbsp;
  <i class="ion-social-reddit"></i>
  . &nbsp; Am I doing this right?
</footer>
